body {
    background-color: khaki;
}

h1 {
    text-align: center;
}

#itemsCheck, #ra, textarea {
    width: 100%;
    margin: 5px;
}

#reissue0, input, #reason, #fp {
    display: none;
    margin: 5px;
    width: 15%;
}

.taxess, textarea {
    display: none;
}

.mandatory {
    border-radius: 5px;
    border-color: red;
}

textarea.mandatory, select.mandatory {
    border-radius: 5px;
    border-width: 2px;
}